// Colors - light mode
$main-clr: #FFF;
$bg-clr1: #014E56;
$bg-clr2: #012F34;
$bg-clr3: #004047;
$bg-clr4: #F67E7E;
$clr1: #323338; // main text/border color
$clr2: #0073ea;

$react-modal-background: rgba(41, 47, 76, 0.7);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Layout
$inline-padding: 165px;